.section {
  height: 100vh;
}


.bg-image {
  background-image: url('Bg.png');
  background-size: cover;
  background-position: center;
  width: 1500px; 
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 576px) {
  .bg-image {
    background-size: contain;
  }
}
